//variables
$col-width: 8.3%;




// 12 columns
.col-lg-12, .col-md-12, .col-sm-12, .col-xs-12{
  width: $col-width*12;

}
// 11 columns
.col-lg-11, .col-md-11, .col-sm-11, .col-xs-11{
  width: $col-width*11;


}
// 10 columns
.col-lg-10, .col-md-10, .col-sm-10, .col-xs-10{
  width: $col-width*10;

}
// 9 columns
.col-lg-9, .col-md-9, .col-sm-9, .col-xs-9{
  width: $col-width*9;

}
// 8 columns
.col-lg-8, .col-md-8, .col-sm-8, .col-xs-8{
  width: $col-width*8;

}
// 7 columns
.col-lg-7, .col-md-7, .col-sm-7, .col-xs-7{
  width: $col-width*7;

}
// 6 columns
.col-lg-6, .col-md-6, .col-sm-6, .col-xs-6{
  width: $col-width*6;

}
// 5 columns
.col-lg-5, .col-md-5, .col-sm-5, .col-xs-5{
  width: $col-width*5;

}
// 4 columns
.col-lg-4, .col-md-4, .col-sm-4, .col-xs-4{
  width: $col-width*4;

}
// 3 columns
.col-lg-3, .col-md-3, .col-sm-3, .col-xs-3{
  width: $col-width*3;

}
// 2 columns
.col-lg-2, .col-md-2, .col-sm-2, .col-xs-2{
  width: $col-width*2;

}
// 1 columns
.col-lg-1, .col-md-1, .col-sm-1, .col-xs-1{
  width: $col-width;

}


//container
.container{
  display: block;
  background-color: yellow;
}

//row
.row{
  width: 100%;



}


//----RWD Resolutions----


//Extra Large Screen xl > 1200px
@media screen and (min-width: 1200px){

}

//Large Screen lg > 992px
@media screen and (min-width: 992px) and (max-width: 1199px) {


  .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6,
  .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{
    display: none;
  }

  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6,
  .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1{
    display: none;
  }

  .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6,
  .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1{
    display: none;
  }

  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6,
  .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 {
    display: flex;
  }

}

// Tablet md > 768px
@media screen and (min-width: 768px) and (max-width: 991px){

  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6,
  .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 {
    display: none;
  }



  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6,
  .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1{
    display: none;
  }

  .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6,
  .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1{
    display: none;
  }

  .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6,
  .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{
    display: flex;
  }





}

// Small Screen sm > 576px
@media  screen and (min-width: 576px ) and (max-width: 767px){
  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6,
  .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 {
    display: none;
  }

  .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6,
  .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{
    display: none;
  }

  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6,
  .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1{
    display: flex;
  }

  .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6,
  .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1{
    display: none;
  }


}

//Extra Small Screen xs < 576px
@media screen and (max-width: 575px){
  .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6,
  .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1 {
    display: none;
  }

  .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6,
  .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{
    display: none;
  }

  .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6,
  .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1{
    display: none;
  }

  .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6,
  .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1{
    display: flex;
  }


}




//Exapmle colums
.kol1{
  background-color: green;
}
.kol2{
  background-color: deepskyblue;
}
.kol3{
  background-color: purple;
}
.kol4{
  background-color: brown;
}



